body {
  background-color: rgba(20,20,20,1);
  color: #EEE;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  padding: 0;
}

header a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

header a:hover {
	color: rgba(200,200,200,1);
}

header h1 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
}

.theCode {
	width: 90%;
	margin: 20px auto;
}

.indent1 {
	margin-left: 20px;
}

.indent2 {
	margin-left: 40px;
}

