<link rel="import" href="../bower/polymer/polymer.html">
<dom-module id="u-photo">
  <template>
    <style>
      /* border-box: 
      http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
      :host {
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
      }
      .uWrapper {
        overflow: hidden;
        padding: 0;
      }
      .uImage {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
      }
    </style>
      <div class="uWrapper" id="uWrap">
        <img class="uImage" src="{{ image }}" alt="{{ about }}" id="uImg">
      </div>
  </template>
  <script>
  Polymer({
    is: 'u-photo',

    properties: {

      //====================================== 
      // TODO: 'width' property for images
      //======================================

      // src for the image
      image: {
        type: String,
        value: function() {
          return "";
        }
      },

      // image's lightbox caption
      about: {
        type: String,
        value: function() {
          return "";
        }
      },

      // set this to group images into lightbox gallery albums
      // by default, all images on the page grouped together under 'default'
      album: {
        type: String,
        value: function() {
          return "default";
        }
      },

      // sets the individual u-photo's width, using its grid size
      // ex: if a photo's grid size is 2, it will be sized to 50% of the width of its container
      // this has no bearing on the width of any other photos (unlike setting grid size on a u-gallery)
      // if not set, this will default to a single column
      grid: {
        type: Number,
        value: function() {
          return 0;
        }
      },

      // adds a right/left padding to each image
      // TODO: make this work properly with top/bottom padding
      cushion: {
        type: Number,
        value: function() {
          return 0;
        }
      },

      // will eventually hide/show "image 1 of X" lightbox label
      // TODO: this whole feature (currently not implemented)
      label: {
        type: Boolean,
        value: function() {
          return 1;
        }
      }

    }, // end properties

    // set frame style if frame="true"
    ready: function() {

      // if the grid value is set, use it to calculate the image widths
      // then float the elements, and set clears for the appropriate ones
      if (this.grid > 0) {
        this.style.width = 100/this.grid + '%';
        this.style.maxWidth = 100/this.grid + '%';
        this.style.float = 'left';
        var all = document.getElementsByTagName('u-photo');
        for (var i = 0; i < all.length; i++) {
          if ((i+1) % this.grid == 0) {
            all[i].style.clear = 'right';
          }
        }
      }

      // if the cushion value is set, give the inner div some right/left padding
      // currently breaks the gallery if applying top/bottom padding
      if (this.cushion > 0) {
        this.$.uWrap.style.padding = '0 ' + this.cushion + 'px' + ' 0';
      }

      // wrap the element in a lightbox tag (otherwise you just have a grid of photos)
      var originalhtml = this.innerHTML;
      var newhtml = '<a href="' + this.image + '" data-lightbox="' + this.album + '" data-title="' + this.about + '">' + originalhtml + '</a>';
      this.innerHTML = newhtml;
    } // end ready

  });
  </script>
</dom-module>


